# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.eggs/
*.nib/
*.so
*.swp

# Virtual Environment
venv/
.env/


**/node_modules


# Jupyter Notebook
.ipynb_checkpoints/

# Data files (large files and sensitive data)
ML_Model/movie_dict.pkl
ML_Model/similarity.pkl
movie_Python/similarity.pkl
movie_Python/movie_dict.pkl

# Logs and Debugging
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build and Distribution
/build/
dist/
*.egg
*.egg-info/
*.dmg
*.pkg
*.tar.gz
*.zip

# IDEs and Editors
.vscode/
*.sublime-workspace
*.sublime-project
*.idea/
*.project
*.classpath
*.settings/

# Operating System Files
.DS_Store
Thumbs.db

# Environment Files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Mac-specific
*.DS_Store
*.AppleDouble
*.LSOverride

# Windows-specific
Desktop.ini
$RECYCLE.BIN/

# Python data science specific
*.h5
*.hdf5

# Exclude everything from `data/`, but allow `data/processed/` to be tracked
data/*
!data/processed/
